<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pr0link - soos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="pr0.link" />
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.com/bc9f669d-cc9f-4a65-88ee-6da1ff7d4ef0%2Flink_1f517.png?v=1588187945326"
      type="image/png"
    />
    <link rel="stylesheet" href="./pr0.css" />
    <!-- server-> client path messaging -->
    <meta name="from" value="{{from}}" />
    <!-- assets -->
    <link rel="stylesheet" href="./custom.css" />
    <script src="/custom.js" defer></script>
  </head>
  <body>
    <div id="page">
      <div id="head">
        <div id="head-content">
          <span id="logo"><navlink href="/" active>PR0🔗LINK</navlink></span>
          <navlink href="/new">Neuer Link</navlink>
          <navlink href="/wat">???</navlink>
        </div>
      </div>
      <view id="start">
        Nutzerverwaltete sources halt. Cool oder?<br />
        #hanloMarina
      </view>
      <view id="new">
        <h2>Neuer Link</h2>
        <div class="form-row">
          <label>File-Direktlink:</label>
          <input
            type="text"
            name="fileUrl"
            class="text-line"
            placeholder="Direktlink"
            autocomplete="off"
          />
        </div>
        <div class="form-row">
          <label>Web:</label>
          <input
            type="url"
            name="fileSource"
            class="text-line"
            placeholder="Quellseiten-Adresse"
            autocomplete="off"
          />
        </div>
        <div class="form-row">
          <label>Token</label>
          <input
            type="url"
            name="token"
            class="text-line"
            placeholder="App-Token eingeben du Spacken"
            autocomplete="off"
          />
        </div>
        <div class="form-row">
          <input
            type="submit"
            value="Neuen Link erstellen"
            class="confirm settings-save"
          />
        </div>
      </view>
      <view id="wat">
        hm
      </view>
      <view id="204">
        ZOMFG, 204 ¯\_(ツ)_/¯
      </view>
      <view id="404">
        NICHTS GEFUNDEN ¯\_(ツ)_/¯
      </view>
    </div>
  </body>
</html>
