<!-- hanlo -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>𝚙𝚛𝟶𝚕𝚒𝚗𝚔</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="pr0.link" />
    <meta name="robots" content="noindex, nofollow" />
    <script>
      {
        //upgrade request clientside
        if (location.protocol === "http:") {
          location.replace(location.href.replace("http://", "https://"));
        }
      }
    </script>
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.com/bc9f669d-cc9f-4a65-88ee-6da1ff7d4ef0%2Flink_1f517.png?v=1588187945326"
      type="image/png"
    />
    <base href="https://pr0.link/" />
    <link rel="stylesheet" href="./pr0.css" />
    <!-- server-> client path messaging -->
    <meta name="from" value="{{from}}" />
    <!-- assets -->
    <link rel="stylesheet" href="./custom.css" />
    <script src="./custom.js" defer></script>
  </head>
  <body>
    <page>
      <header>
        <header-content>
          <span id="logo"><navlink href="/" active>PR0🔗LINK</navlink></span>
          <navlink href="/new"> ➕&thinsp;link</navlink>
          <navlink href="/edit">✎&thinsp;edit</navlink>
          <navlink href="/tok">🔑&thinsp;token</navlink>
        </header-content>
      </header>
      <view path="/">
        Nutzerverwaltete sources halt. Cool oder?<br />
        <br />
        <muted>#hanloMarina</muted>
      </view>
      <view path="/new">
        <h2><u>Neuer Link:</u></h2>
        <br />
        <form method="POST">
          <div class="form-row">
            <label>File-Direktlink:</label>
            <input
              type="text"
              name="fileUrl"
              class="text-line"
              placeholder="Direktlink"
              autocomplete="off"
            />
          </div>
          <div class="form-row">
            <label>Web:</label>
            <input
              type="url"
              name="fileSource"
              class="text-line"
              placeholder="Quellseiten-Adresse"
              autocomplete="off"
            />
          </div>
          <div class="form-row">
            <label>Token</label>
            <input
              type="password"
              name="token"
              class="text-line"
              placeholder="App-Token eingeben du Spacken"
              autocomplete="off"
            />
          </div>
          <div class="form-row">
            <input
              type="submit"
              value="Neuen Link erstellen"
              class="confirm-button"
            />
          </div>
        </form>
      </view>
      <view path="/edit">
        <h2><u>Link bearbeiten:</u></h2>
        <br />
        <form method="PATCH">
          <div class="form-row">
            <label>QuellId:</label>
            <input
              type="text"
              name="sourceId"
              class="text-line"
              placeholder="QuellId"
              autocomplete="off"
            />
          </div>
          <div class="form-row">
            <label>Web:</label>
            <input
              type="url"
              name="fileSource"
              class="text-line"
              placeholder="Quellseiten-Adresse"
              autocomplete="off"
            />
          </div>
          <div class="form-row">
            <label>Token</label>
            <input
              type="password"
              name="token"
              class="text-line"
              placeholder="App-Token eingeben du Spacken"
              autocomplete="off"
            />
          </div>
          <div class="form-row">
            <br />
            <input
              type="submit"
              value="Bearbeitung speichern"
              class="confirm-button save-changes"
            />
            <input type="hidden" name="disable" />
            <input
              type="submit"
              value="Link löschen"
              class="confirm-button delete"
              onclick="return confirm('echt?')"
            />
          </div>
        </form>
      </view>
      <view path="/tok">
        Ihr braucht nen Token? Schreibts mich im Discord an oder auf dem
        <a href="https://pr0gramm.com/inbox/messages/Nikei">pr0</a>&thinsp;!
      </view>
      <view path="/204">
        ZOMFG, 204 ¯\_(ツ)_/¯
        <br /><br />
        <muted
          ><i
            >(Die Anfrage wurde erfolgreich durchgeführt, die Antwort enthält
            jedoch bewusst keine Daten.)</i
          ></muted
        >
        <br />
        <navlink href="/">/start</navlink>
      </view>
      <view path="/400">
        ZOMFG, 400 ¯\_(ツ)_/¯
        <br /><br />
        <muted><i>( Die Anfrage-Nachricht war fehlerhaft aufgebaut.)</i></muted>
        <br /><navlink href="/">/start</navlink>
      </view>
      <view path="/posted">
        <h3>(･ω-)☆ Link erfolgreich erstellt:</h3>
        <input name="paste" onclick="this.select()" value="keks" />
        <br />
        <muted><i>(bereit zum pasten)</i></muted>
      </view>
      <view path="/404">
        NICHTS GEFUNDEN ¯\_(ツ)_/¯
        <br /><br />
        <muted><i>(Die angeforderte Ressource wurde nicht gefunden.)</i></muted>
      </view>

      <footer>
        <footer-content>
          <h4>
            <i>
              Wir haben nix mit dem
              <a href="http://pr0gramm.com/">pr0gramm</a> zu tun.
            </i>
          </h4>
        </footer-content>
      </footer>
    </page>
  </body>
</html>
