body {
  height: 100%;
  width: 100%;

  overflow: hidden;
  position: absolute;
}
/* Seite */
page {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -ms-flex-align: center;
  height: inherit;
}
/* Head */
header,
footer {
  width: 62vh;
  max-width: 100vw;
  min-width: 62vw;
}
footer a{
  text-decoration: underline;
}
/* Head-inner */
header-content,
footer-content {
  display: flex;
  display: -ms-flexbox;
  padding: 0.4rem 5vw;
  align-items: center;
  -ms-flex-align: center;
  height: auto !important;
}
/* Links im Head */
navlink svg{
  fill: #aaa;
  height: 12px;
  width: 12px;
}
navlink {
  margin-right: 1.2vw;
  padding: 0.1rem 0.3rem;
  color: #aaa;
  cursor: pointer;
  user-select: none;
}
navlink[active="true"], navlink[active="true"] svg {
  color: white!important;
  fill: white!important;
}
navlink:hover {
  color: white;
}
/* Logo halt */
#logo {
  font-size: 1.7rem;
  margin: 0 1vw;
  font-family: Consolas;
}
#logo svg{
  width: 18px;
  height: 18px;
}
#logo navlink, #logo navlink svg {
  color: lightgray;
  fill: lightgray;
}
#logo navlink:hover, #logo navlink:hover svg {
  color: white;
  /*fill: white!important; /* it's important kek */
}
view a {
  color: #888;
  display: contents;
  margin-right: 0.1rem;
}
/* einfacher Content-view */
view {
  display: none;
  width: 50vh;
  max-width: 75vw;
  min-width: 30vw;
  flex-direction: column;
  -ms-flex-direction: column;
  font-size: 1.4rem;

  text-align: center;
}

view[active="true"] {
  display: flex !important;
}

/* Fixes für Inputs & Button */
input,
button {
  width: 100% !important;
}

/* muted text unterschriften */
muted {
  color: dimgray;
  font-size: 90%;
}

/* footer halt */
footer {
  bottom: 0;
  position: absolute;
  color: dimgray;
  font-family: Consolas;
}

/* delete button bei edit */
input.delete {
  width: auto !important;
  background-color: #c52b2f;
  float: left;
}
/* save bei edit */
input.save-changes {
  float: right;
  width: 70% !important;
}
/* add-button */
input.add-link{
  background-color: #1db992;
  color: black;
  float: left;
}