* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --theme-main-color: #ee4d2e;
  --theme-secondary-color: #75c0c7;
  --theme-logo-color: #d23c22;
}

html,
body {
  touch-action: manipulation;
  background: #161618;
  font-family: sans-serif;
  line-height: 1.3;
  color: #f2f5f4;
  font-size: 14px;
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow-anchor: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 21px;
  margin: 12px 0 12px 0;
}

h3 {
  font-size: 14px;
  color: #F5F7F6;
  font-weight: normal;
  text-transform: uppercase;
  margin: 24px 0 8px 0;
}

p {
  margin: 1em 0 1em 0;
}

div#page {
  margin: 0 auto;
  position: relative;
}

header {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  height: 52px;
  z-index: 100;
  -webkit-transform: translateZ(0);
}

header-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
}

footer a {
    color: #888;
}

footer a:hover {
    color: #F5F7F6;
}

input.submit {
  margin-top: 12px;
}

input,
textarea {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  border: 0;
  background-color: #1B1E1F;
  color: #bbb;
  outline: none;
  padding: 5px;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #666;
}

::-moz-placeholder {
    color: #666;
}

:-ms-input-placeholder {
    color: #666;
}

div.form-row {
  margin: 8px 0 12px 0;
}

.confirm-button,
input[type="button"],
input[type="submit"] {
  font-weight: normal;
  display: inline-block;
  text-align: center;
  padding: 8px 8px 6px 8px;
  margin: 0;
  color: #F5F7F6;
  cursor: pointer;
  background-color: #ee4d2e;
  background-color: var(--theme-main-color);
  font-size: 12px;
}

.confirm-button:hover,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  outline: none;
  text-shadow: none;
  color: #555;
  background-color: #F5F7F6;
}

label {
  display: block;
  margin: 0 0 2px 2px;
}

label.checkbox-label {
  display: inline;
}
