body {
  height: 100%;
  width: 100%;

  overflow: hidden;
  position: absolute;
}
/* Seite */
#page {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -ms-flex-align: center;
  height: inherit;
}
/* Head */
#head {
  width: 75vh;
  max-width: 100vw;
  min-width: 75vw;
}
/* Head-inner */
#head-content {
  display: flex;
  display: -ms-flexbox;
  padding: 1vh 5vw;
  align-items: center;
  -ms-flex-align: center;
  height: auto !important;
}
/* Links im Head */
#head-content navlink {
  margin-right: 1.5rem;
  color: #aaa;
  cursor: pointer;
  user-select: none;
}
#head-content navlink[active="true"] {
  color: white;
}
#head-content navlink:hover {
  color: white;
}
/* Logo halt */
#logo {
  font-size: 2.5vh;
  margin-right: 2rem;
}
#logo navlink {
  color: lightgray;
}
#logo navlink:hover {
  color: white;
}
/* einfacher Content-block */
block {
  display: none;
  width: 50vh;
  max-width: 75vw;
  min-width: 30vw;
  flex-direction: column;
  -ms-flex-direction: column;
}

block[active="true"] {
  display: flex !important;
}

/* Fixes für Inputs & Button */
input,
button {
  width: 100% !important;
}

/* 404 area */
block[id="404"]{
  font-size: 2rem;
}